@using DogsApp.Models.Dog
@model IEnumerable<DogAllViewModel>
@{
    ViewData["Title"] = "All Dogs";
}
<h1>All Dogs</h1>
<p>
    <a asp-action="Create">Create New Dog</a>
</p>
<form asp-controller="Dog" asp-action="Index" method="get">
    <p>
        Breed:<input type="text" name="SearchStringBreed"/>
        Name: <input type="text" name="SearchStringName"/>
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedName)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
                    @*@Html.DisplayFor(modelItem => item.Picture)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="Dog" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>


